n8n/My workflow 2_eval.json
{
  "active": false,
  "connections": {
    "Add protocool to domain (URL)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get website (URL)",
            "type": "main"
          }
        ]
      ]
    },
    "Add protocool to domain (text)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get website (text)",
            "type": "main"
          }
        ]
      ]
    },
    "Aggregate URLs": {
      "main": [
        [
          {
            "index": 0,
            "node": "Set response (URL)",
            "type": "main"
          }
        ]
      ]
    },
    "Convert HTML to Markdown": {
      "main": [
        [
          {
            "index": 0,
            "node": "Set response (text)",
            "type": "main"
          }
        ]
      ]
    },
    "Crawl website": {
      "main": [
        [
          {
            "index": 0,
            "node": "Webhook Response",
            "type": "main"
          }
        ]
      ]
    },
    "Execute workflow": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get companies",
            "type": "main"
          }
        ]
      ]
    },
    "Filter out empty hrefs": {
      "main": [
        [
          {
            "index": 0,
            "node": "Remove duplicated",
            "type": "main"
          }
        ]
      ]
    },
    "Filter out invalid URLs": {
      "main": [
        [
          {
            "index": 0,
            "node": "Aggregate URLs",
            "type": "main"
          }
        ]
      ]
    },
    "Get companies": {
      "main": [
        [
          {
            "index": 0,
            "node": "Select company name and website",
            "type": "main"
          }
        ]
      ]
    },
    "Get website (URL)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Retrieve URLs",
            "type": "main"
          }
        ]
      ]
    },
    "Get website (text)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Convert HTML to Markdown",
            "type": "main"
          }
        ]
      ]
    },
    "JSON Parser": {
      "ai_outputParser": [
        [
          {
            "index": 0,
            "node": "Crawl website",
            "type": "ai_outputParser"
          }
        ]
      ]
    },
    "Map company name and website": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge all data",
            "type": "main"
          }
        ]
      ]
    },
    "Merge all data": {
      "main": [
        [
          {
            "index": 0,
            "node": "Webhook Response",
            "type": "main"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "Crawl website",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Remove duplicated": {
      "main": [
        [
          {
            "index": 0,
            "node": "Set domain to path",
            "type": "main"
          }
        ]
      ]
    },
    "Retrieve URLs": {
      "main": [
        [
          {
            "index": 0,
            "node": "Split out URLs",
            "type": "main"
          }
        ]
      ]
    },
    "Select company name and website": {
      "main": [
        [
          {
            "index": 0,
            "node": "Crawl website",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Map company name and website",
            "type": "main"
          }
        ]
      ]
    },
    "Set domain (URL)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Add protocool to domain (URL)",
            "type": "main"
          }
        ]
      ]
    },
    "Set domain (text)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Add protocool to domain (text)",
            "type": "main"
          }
        ]
      ]
    },
    "Set domain to path": {
      "main": [
        [
          {
            "index": 0,
            "node": "Filter out invalid URLs",
            "type": "main"
          }
        ]
      ]
    },
    "Set social media array": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge all data",
            "type": "main"
          }
        ]
      ]
    },
    "Split out URLs": {
      "main": [
        [
          {
            "index": 0,
            "node": "Filter out empty hrefs",
            "type": "main"
          }
        ]
      ]
    },
    "Text": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Crawl website",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "URLs": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "Crawl website",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "Webhook Response": {
      "main": [
        []
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Get companies",
            "type": "main"
          }
        ]
      ]
    }
  },
  "id": "OxH6f9KneODnS2c7",
  "meta": {
    "instanceId": "5a49ac8bc1aabfca6d8f0dd9d69ed69a16b889c66aeabf60a6d5c49ba7f770a5"
  },
  "name": "My workflow 2",
  "nodes": [
    {
      "id": "8aad7094-1730-43c3-9730-34a836914d22",
      "name": "Text",
      "parameters": {
        "description": "Call this tool to return all text from the given website. Query should be full website URL.",
        "name": "text_retrieval_tool",
        "source": "parameter",
        "workflowJson": "{\n  \"nodes\": [\n    {\n      \"parameters\": {},\n      \"id\": \"05107436-c9cb-419b-ae8a-b74d309a130d\",\n      \"name\": \"Execute workflow\",\n      \"type\": \"n8n-nodes-base.manualTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        2220,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"253c2b17-c749-4f0a-93e8-5ff74f1ce49b\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.query }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"bb8be616-3227-4705-8520-1827069faacd\",\n      \"name\": \"Set domain\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2440,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"ed0f1505-82b6-4393-a0d8-088055137ec9\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.domain.startsWith(\\\"http\\\") ? $json.domain : \\\"http://\\\" + $json.domain }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"bdf29340-f135-489f-848e-1c7fa43a01df\",\n      \"name\": \"Add protocool to domain\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2640,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"2b1c7ff8-06a7-448b-99b7-5ede4b2e0bf0\",\n              \"name\": \"response\",\n              \"value\": \"={{ $json.data }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"9f0aa264-08c1-459a-bb99-e28599fe8f76\",\n      \"name\": \"Set response\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        3300,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"url\": \"={{ $json.domain }}\",\n        \"options\": {}\n      },\n      \"id\": \"cec7c8e8-bf5e-43d5-aa41-876293dbec78\",\n      \"name\": \"Get website\",\n      \"type\": \"n8n-nodes-base.httpRequest\",\n      \"typeVersion\": 4.2,\n      \"position\": [\n        2860,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"html\": \"={{ $json.data }}\",\n        \"options\": {\n          \"ignore\": \"a,img\"\n        }\n      },\n      \"id\": \"1af94fcb-bca3-45c4-9277-18878c75d417\",\n      \"name\": \"Convert HTML to Markdown\",\n      \"type\": \"n8n-nodes-base.markdown\",\n      \"typeVersion\": 1,\n      \"position\": [\n        3080,\n        620\n      ]\n    }\n  ],\n  \"connections\": {\n    \"Execute workflow\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set domain\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Set domain\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Add protocool to domain\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Add protocool to domain\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Get website\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Get website\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Convert HTML to Markdown\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Convert HTML to Markdown\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set response\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"pinData\": {}\n}"
      },
      "position": [
        1360,
        688
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1
    },
    {
      "id": "3c6414cf-c34e-4c2d-af0d-9c1bb804be9b",
      "name": "URLs",
      "parameters": {
        "description": "Call this tool to return all URLs from the given website. Query should be full website URL.",
        "name": "url_retrieval_tool",
        "source": "parameter",
        "workflowJson": "{\n  \"nodes\": [\n    {\n      \"parameters\": {},\n      \"id\": \"05107436-c9cb-419b-ae8a-b74d309a130d\",\n      \"name\": \"Execute workflow\",\n      \"type\": \"n8n-nodes-base.manualTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        2200,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"operation\": \"extractHtmlContent\",\n        \"extractionValues\": {\n          \"values\": [\n            {\n              \"key\": \"output\",\n              \"cssSelector\": \"a\",\n              \"returnValue\": \"attribute\",\n              \"returnArray\": true\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"1972e13e-d923-45e8-9752-e4bf45faaccf\",\n      \"name\": \"Retrieve URLs\",\n      \"type\": \"n8n-nodes-base.html\",\n      \"typeVersion\": 1.2,\n      \"position\": [\n        3060,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"fieldToSplitOut\": \"output\",\n        \"options\": {}\n      },\n      \"id\": \"19703fbc-05ff-4d80-ab53-85ba6d39fc3f\",\n      \"name\": \"Split out URLs\",\n      \"type\": \"n8n-nodes-base.splitOut\",\n      \"typeVersion\": 1,\n      \"position\": [\n        3280,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"compare\": \"selectedFields\",\n        \"fieldsToCompare\": \"href\",\n        \"options\": {}\n      },\n      \"id\": \"5cc988e7-de9b-4177-b5e7-edb3842202c8\",\n      \"name\": \"Remove duplicated\",\n      \"type\": \"n8n-nodes-base.removeDuplicates\",\n      \"typeVersion\": 1,\n      \"position\": [\n        3720,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"04ced063-09f0-496c-9b28-b8095f9e2297\",\n              \"name\": \"href\",\n              \"value\": \"={{ $json.href.startsWith(\\\"/\\\") ? $('Add protocool to domain (URL)').item.json[\\\"domain\\\"] + $json.href : $json.href }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"includeOtherFields\": true,\n        \"include\": \"selected\",\n        \"includeFields\": \"title\",\n        \"options\": {}\n      },\n      \"id\": \"4715a25d-93a7-4056-8768-e3f886a1a0c9\",\n      \"name\": \"Set domain to path\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        3940,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"conditions\": {\n          \"options\": {\n            \"caseSensitive\": true,\n            \"leftValue\": \"\",\n            \"typeValidation\": \"strict\"\n          },\n          \"conditions\": [\n            {\n              \"id\": \"d01ea6a8-7e75-40d4-98f2-25d42b245f36\",\n              \"leftValue\": \"={{ $json.href.isUrl() }}\",\n              \"rightValue\": \"\",\n              \"operator\": {\n                \"type\": \"boolean\",\n                \"operation\": \"true\",\n                \"singleValue\": true\n              }\n            }\n          ],\n          \"combinator\": \"and\"\n        },\n        \"options\": {}\n      },\n      \"id\": \"353deefb-ae69-440c-95b6-fdadacf4bf91\",\n      \"name\": \"Filter out invalid URLs\",\n      \"type\": \"n8n-nodes-base.filter\",\n      \"typeVersion\": 2,\n      \"position\": [\n        4160,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"aggregate\": \"aggregateAllItemData\",\n        \"include\": \"specifiedFields\",\n        \"fieldsToInclude\": \"title,href\",\n        \"options\": {}\n      },\n      \"id\": \"9f87be8c-72d7-4ab1-b297-dc7069b2dd11\",\n      \"name\": \"Aggregate URLs\",\n      \"type\": \"n8n-nodes-base.aggregate\",\n      \"typeVersion\": 1,\n      \"position\": [\n        4380,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"conditions\": {\n          \"options\": {\n            \"caseSensitive\": true,\n            \"leftValue\": \"\",\n            \"typeValidation\": \"strict\"\n          },\n          \"conditions\": [\n            {\n              \"id\": \"5b9b7353-bd04-4af2-9480-8de135ff4223\",\n              \"leftValue\": \"={{ $json.href }}\",\n              \"rightValue\": \"\",\n              \"operator\": {\n                \"type\": \"string\",\n                \"operation\": \"exists\",\n                \"singleValue\": true\n              }\n            }\n          ],\n          \"combinator\": \"and\"\n        },\n        \"options\": {}\n      },\n      \"id\": \"35c8323a-5350-403a-9c2d-114b0527e395\",\n      \"name\": \"Filter out empty hrefs\",\n      \"type\": \"n8n-nodes-base.filter\",\n      \"typeVersion\": 2,\n      \"position\": [\n        3500,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"253c2b17-c749-4f0a-93e8-5ff74f1ce49b\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.query }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"d9f6a148-6c8c-4a58-89f5-4e9cfcd8d910\",\n      \"name\": \"Set domain (URL)\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2400,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"ed0f1505-82b6-4393-a0d8-088055137ec9\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.domain.startsWith(\\\"http\\\") ? $json.domain : \\\"http://\\\" + $json.domain }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"1f974444-da58-4a47-a9c3-ba3091fc1e96\",\n      \"name\": \"Add protocool to domain (URL)\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2620,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"url\": \"={{ $json.domain }}\",\n        \"options\": {}\n      },\n      \"id\": \"31d7c7d4-8f61-402b-858d-63dd68ac69ee\",\n      \"name\": \"Get website (URL)\",\n      \"type\": \"n8n-nodes-base.httpRequest\",\n      \"typeVersion\": 4.2,\n      \"position\": [\n        2840,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"53c1c016-7983-4eba-a91d-da2a0523d805\",\n              \"name\": \"response\",\n              \"value\": \"={{ JSON.stringify($json.data) }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"f4b6df77-96be-4b12-9a8b-ae9b7009f13d\",\n      \"name\": \"Set response (URL)\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        4600,\n        740\n      ]\n    }\n  ],\n  \"connections\": {\n    \"Execute workflow\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set domain (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Retrieve URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Split out URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Split out URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Filter out empty hrefs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Remove duplicated\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set domain to path\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Set domain to path\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Filter out invalid URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Filter out invalid URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Aggregate URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Aggregate URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set response (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Filter out empty hrefs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Remove duplicated\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Set domain (URL)\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Add protocool to domain (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Add protocool to domain (URL)\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Get website (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Get website (URL)\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Retrieve URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"pinData\": {}\n}"
      },
      "position": [
        1552,
        688
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "piXG186Hhv1a5x7i",
          "name": "OpenAi account"
        }
      },
      "id": "5cc6045a-8474-43cc-b5d3-be9d11181940",
      "name": "OpenAI Chat Model",
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "responseFormat": "json_object",
          "temperature": 0
        }
      },
      "position": [
        1200,
        688
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1
    },
    {
      "id": "45b94d18-235b-4923-889c-a8bced29df6c",
      "name": "JSON Parser",
      "parameters": {
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"social_media\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"platform\": {\n            \"type\": \"string\",\n            \"description\": \"The name of the social media platform (e.g., LinkedIn, Instagram)\"\n          },\n          \"urls\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\",\n              \"format\": \"uri\",\n              \"description\": \"A URL for the social media platform\"\n            }\n          }\n        },\n        \"required\": [\"platform\", \"urls\"],\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"required\": [\"platforms\"],\n  \"additionalProperties\": false\n}\n",
        "schemaType": "manual"
      },
      "position": [
        1712,
        688
      ],
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2
    },
    {
      "id": "d23bcfa9-8612-496f-9a20-a0465977f399",
      "name": "Map company name and website",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae484e44-36bc-4d88-9772-545e579a261c",
              "name": "company_name",
              "type": "string",
              "value": "={{ $json.name }}"
            },
            {
              "id": "c426ab19-649c-4443-aabb-eb0826680452",
              "name": "company_website",
              "type": "string",
              "value": "={{ $json.website }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1312,
        0
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3
    },
    {
      "id": "9f331c0d-1721-403f-9f35-3b1baf01e9c2",
      "name": "Execute workflow",
      "parameters": {},
      "position": [
        448,
        320
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "id": "980c56be-f9c8-4307-9cb2-d8f3414871ad",
      "name": "Get companies",
      "parameters": {
        "operation": "getAll",
        "tableId": "companies_input"
      },
      "position": [
        688,
        320
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "454b985e-ec87-4e45-9290-3f7c60edb010",
      "name": "Select company name and website",
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "include": "selected",
        "includeFields": "name,website",
        "includeOtherFields": true,
        "options": {}
      },
      "position": [
        944,
        320
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3
    },
    {
      "id": "74b6741f-56fe-4e3d-a57d-53b82cd6549c",
      "name": "Set social media array",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6e109b7-9333-44e8-aa13-590aeb91a56b",
              "name": "social_media",
              "type": "array",
              "value": "={{ $json.output.social_media }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1712,
        432
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3
    },
    {
      "id": "e2a0246f-7c45-4172-83b3-1994f0ec2066",
      "name": "Merge all data",
      "parameters": {
        "combinationMode": "mergeByPosition",
        "mode": "combine",
        "options": {}
      },
      "position": [
        1952,
        320
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1
    },
    {
      "id": "1d0de4a1-11fa-4a2a-97a0-43c82356b7b2",
      "name": "Convert HTML to Markdown",
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {
          "ignore": "a,img"
        }
      },
      "position": [
        2000,
        1024
      ],
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1
    },
    {
      "id": "daa28c32-6d60-41a9-8b17-132a2028e1ea",
      "name": "Sticky Note",
      "parameters": {
        "color": 5,
        "content": "",
        "height": 166.55000000000004,
        "width": 157.8125
      },
      "position": [
        1328,
        640
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "5d7be18b-aedb-4721-94ce-85b7cf58b1d3",
      "name": "Sticky Note1",
      "parameters": {
        "color": 4,
        "content": "",
        "height": 166.55000000000004,
        "width": 157.8125
      },
      "position": [
        1504,
        640
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "cbcad8c2-8338-4847-aa1a-d688bb9524da",
      "name": "Sticky Note2",
      "parameters": {
        "color": 5,
        "content": "### Text scraper tool\nThis tool is designed to return all text from the given webpage.\n\n💡 **Consider adding proxy for better crawling accuracy.**\n",
        "height": 329.45390772033636,
        "width": 1117.5005339977713
      },
      "position": [
        1328,
        880
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "6151b79a-121c-4740-a3e5-dd0e47ba4470",
      "name": "Retrieve URLs",
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "cssSelector": "a",
              "key": "output",
              "returnArray": true,
              "returnValue": "attribute"
            }
          ]
        },
        "operation": "extractHtmlContent",
        "options": {}
      },
      "position": [
        2032,
        1408
      ],
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2
    },
    {
      "id": "0b6b4e95-91b4-42bc-8554-80c1d36dd591",
      "name": "Split out URLs",
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "position": [
        2240,
        1408
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "id": "651a9509-dbbe-4b63-a562-ff049bfba227",
      "name": "Remove duplicated",
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "href",
        "options": {}
      },
      "position": [
        2688,
        1408
      ],
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1
    },
    {
      "id": "643ee492-993c-4dd7-9cd8-36887e759f66",
      "name": "Set domain to path",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "04ced063-09f0-496c-9b28-b8095f9e2297",
              "name": "href",
              "type": "string",
              "value": "={{ $json.href.startsWith(\"/\") ? $('Add protocool to domain (URL)').item.json[\"domain\"] + $json.href : $json.href }}"
            }
          ]
        },
        "include": "selected",
        "includeFields": "title",
        "includeOtherFields": true,
        "options": {}
      },
      "position": [
        2912,
        1408
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3
    },
    {
      "id": "cce11f79-ee01-49bb-8b13-afa8750c437f",
      "name": "Filter out invalid URLs",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "d01ea6a8-7e75-40d4-98f2-25d42b245f36",
              "leftValue": "={{ $json.href.isUrl() }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "position": [
        3120,
        1408
      ],
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2
    },
    {
      "id": "9ffd957a-0df7-4c5c-bfba-672f693b6d6d",
      "name": "Aggregate URLs",
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "fieldsToInclude": "title,href",
        "include": "specifiedFields",
        "options": {}
      },
      "position": [
        3344,
        1408
      ],
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1
    },
    {
      "id": "be7653c9-1e0d-4f77-9f41-7d08a9f995ab",
      "name": "Filter out empty hrefs",
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "5b9b7353-bd04-4af2-9480-8de135ff4223",
              "leftValue": "={{ $json.href }}",
              "operator": {
                "operation": "exists",
                "singleValue": true,
                "type": "string"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "position": [
        2464,
        1408
      ],
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2
    },
    {
      "id": "b1d6dd09-02cc-445f-9dd1-ad86fc6f03fe",
      "name": "Set domain (text)",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "253c2b17-c749-4f0a-93e8-5ff74f1ce49b",
              "name": "domain",
              "type": "string",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1360,
        1024
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3
    },
    {
      "id": "d747976c-021c-444d-bf75-b2bedb5e642b",
      "name": "Add protocool to domain (text)",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed0f1505-82b6-4393-a0d8-088055137ec9",
              "name": "domain",
              "type": "string",
              "value": "={{ $json.domain.startsWith(\"http\") ? $json.domain : \"http://\" + $json.domain }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1568,
        1024
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3
    },
    {
      "id": "bbd9314e-4f98-47eb-b880-0d0ca852015b",
      "name": "Get website (text)",
      "parameters": {
        "options": {},
        "url": "={{ $json.domain }}"
      },
      "position": [
        1792,
        1024
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "b83b240f-a801-4ad7-9e08-2c0f35c6bc14",
      "name": "Set response (text)",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b1c7ff8-06a7-448b-99b7-5ede4b2e0bf0",
              "name": "response",
              "type": "string",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        2224,
        1024
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3
    },
    {
      "id": "64fe8f1f-49b7-4015-9036-7eb52bdc65e5",
      "name": "Set domain (URL)",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "253c2b17-c749-4f0a-93e8-5ff74f1ce49b",
              "name": "domain",
              "type": "string",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1360,
        1408
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3
    },
    {
      "id": "58b1d873-ce04-41b6-892d-fd33e76af7e7",
      "name": "Get website (URL)",
      "parameters": {
        "options": {},
        "url": "={{ $json.domain }}"
      },
      "position": [
        1808,
        1408
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "id": "9e2f2e57-9d78-4c0d-95e2-df4c3bde781c",
      "name": "Set response (URL)",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53c1c016-7983-4eba-a91d-da2a0523d805",
              "name": "response",
              "type": "string",
              "value": "={{ JSON.stringify($json.data) }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        3568,
        1408
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3
    },
    {
      "id": "14a2933c-cef1-4d8f-8889-2f0e39861e04",
      "name": "Sticky Note3",
      "parameters": {
        "color": 4,
        "content": "### URL scraper tool\nThis tool is designed to return all links (URLs) from the given webpage.\n\n💡 **Consider adding proxy for better crawling accuracy.**",
        "height": 328.79842054012374,
        "width": 2467.2678721043376
      },
      "position": [
        1328,
        1264
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "861cb1c1-02e5-45ce-b8f7-b7ef578040cb",
      "name": "Sticky Note4",
      "parameters": {
        "content": "### Get companies from database\nRetrieve names and websites of companies from Supabase table to process crawling.\n\n💡 **You can replace Supabase with other database of your choice.**",
        "height": 400.16865185185225,
        "width": 221.7729148148145
      },
      "position": [
        624,
        112
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "22701163-224a-46c0-b1b3-6a2bc1dd1a2b",
      "name": "Sticky Note5",
      "parameters": {
        "content": "### Set parameters for execution\nPass only `name` and `website` values from database. \n\n⚠️ **If you use other field namings, update this node.**",
        "height": 370.14757037037066,
        "width": 221.7729148148145
      },
      "position": [
        880,
        144
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "9d2d4b45-dbf1-4ba6-9317-391a23533563",
      "name": "Sticky Note6",
      "parameters": {
        "content": "### Crawling agent (retrieve social media profile links)\nCrawl website to extract social media profile links and return them in unified JSON format.\n\n💡 **You can change type of retrieved data by editing prompt and parser schema.**",
        "height": 328.4957622370491,
        "width": 339.7128777777775
      },
      "position": [
        1264,
        240
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "5adf5214-3457-408a-a49c-89a44c3f5e2e",
      "name": "Add protocool to domain (URL)",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed0f1505-82b6-4393-a0d8-088055137ec9",
              "name": "domain",
              "type": "string",
              "value": "={{ $json.domain.startsWith(\"http\") ? $json.domain : \"http://\" + $json.domain }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        1584,
        1408
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3
    },
    {
      "id": "40f0b414-b88d-445b-aa85-28c23a3d3492",
      "name": "Sticky Note8",
      "parameters": {
        "color": 3,
        "content": "## ⚠️ Note\n\n1. Complete video guide for this workflow is available [on my YouTube](https://youtu.be/2W09puFZwtY). \n2. Remember to add your credentials and configure nodes.\n3. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).\n\n**Thank you for your support!**",
        "height": 256.26672065702303,
        "width": 369.60264559047334
      },
      "position": [
        -96,
        368
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "1eb483c3-c7e0-40aa-9bb7-1445f477fe76",
      "name": "Sticky Note9",
      "parameters": {
        "color": 7,
        "content": "## Autonomous AI crawler\nThis workflow autonomously navigates through given websites and retrieves social media profile links. \n\n💡 **You can modify this workflow to retrieve other type of data (e.g. contact details or company profile summary).**",
        "height": 212.09880341753203,
        "width": 369.93062670813185
      },
      "position": [
        -96,
        128
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "c21115f3-e1d2-4b1c-acef-c10106fad1b5",
      "name": "Crawl website",
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an automated web crawler tasked with extracting social media URLs from a webpage provided by the user. You have access to a text retrieval tool to gather all text content from the page and a URL retrieval tool to identify and navigate through links on the page. Utilize the URLs retrieved to crawl additional pages. Your objective is to provide a unified JSON output containing the extracted data (links to all possible social media profiles from the website)."
        },
        "promptType": "define",
        "text": "=Retrieve social media profile URLs from this website: {{ $json.website }}"
      },
      "position": [
        1312,
        432
      ],
      "retryOnFail": true,
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6
    },
    {
      "id": "7dd29368-e516-4e93-8ce2-09c6e6c5c716",
      "name": "Webhook Trigger",
      "parameters": {
        "httpMethod": "POST",
        "options": {
          "rawBody": true
        },
        "path": "evaluate",
        "responseMode": "responseNode"
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "webhookId": "d588a6dc-54d6-4be2-a18a-c6d51f39b359"
    },
    {
      "id": "427418c1-73fa-465a-baf1-9c0168a58e04",
      "name": "Webhook Response",
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "position": [
        704,
        0
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    },
    {
      "id": "webhook-eval-trigger",
      "name": "Webhook Trigger",
      "parameters": {
        "httpMethod": "POST",
        "options": {
          "rawBody": true
        },
        "path": "evaluate",
        "responseMode": "responseNode"
      },
      "position": [
        100,
        300
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1
    },
    {
      "id": "webhook-eval-response",
      "name": "Webhook Response",
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "position": [
        800,
        300
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    }
  ],
  "pinData": {
    "Get companies": [
      {
        "json": {
          "id": 1,
          "name": "n8n",
          "website": "https://n8n.io"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "versionId": "8f5f80c4-344b-430c-8c13-96ef96daf61a"
}